*.class
# Package Files #

*.war
*.ear

.project
.classpath
*.log
target/
target/*
.settings/
.settings/*
fc/org.tinygroup.tinydbflowextcomponent/dbfile/*
fulltext/org.tinygroup.lucene472/index/*
bin/
bin/*

*.iml
.idea/
.idea/*

SampleMessages.log4j
SampleMessages.log4j*

TESTDB
jcs_swap
derby.log
*.h2.db
*.lock.db
*.trace.db